<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="description" content="A CMS for managing Events, Members and Feedbacks" />
        <meta name="author" content="Sherman Chen" />

        <title>{{title}}</title>

		<!-- Importing Kendo UI related stylesheets -->
		<link href="/stylesheets/kendo-ui/kendo.common-material.min.css" rel="stylesheet" />
		<link href="/stylesheets/kendo-ui/kendo.material.min.css" rel="stylesheet" />
		<link href="/stylesheets/kendo-ui/kendo.material.mobile.min.css" rel="stylesheet" />
		<link href="/stylesheets/bootstrap.min.css" rel="stylesheet" />
		<link href="/stylesheets/main.css" rel="stylesheet" />

		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/kendo.all.js"></script>
		<script src="/javascripts/kendo.timezones.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/javascripts/main.js"></script>
		<script src="/javascripts/handlebars.min.js"></script>
		<script src="/javascripts/htmlencode.js"></script>
    </head>

    <body>
        {{> layout/navigation }}

        {{> layout/flash }}

        <div class="container main-container">
            <h1>{{title}}</h1>

            {{{body}}}
        </div>
    </body>
</html>
