{{#if show_info}}
	<div class="form-group info-box">
		Password of user: {{username}} has been successfully reset.
	</div>
{{/if}}

<div class="buttons-panel">
	<a id="manage-user" class="control-buttons form-btn" href="/users/list" disabled="disabled" type="button">Manage Users</a>
	<a id="manage-user-type" class="control-buttons form-btn" href="/usertypes/list" type="button">Manage User Types</a>&nbsp;
</div>

<div id="grid-users" class="grid-listing-view"></div>

<div class="buttons-panel">
	<a id="add-user" class="control-buttons form-btn k-primary" href="/users/create" type="button">Add User</a>&nbsp;
</div>

<script language="JavaScript">
	$('.control-buttons').kendoButton();

	$("#grid-users").kendoGrid({
		dataSource: {
			type: "json",
			transport: {
				read: "{{baseUri}}/api/users/get_all_users"
			},
			pageSize: 20
		},
		height: 550,
		groupable: true,
		sortable: true,
		pageable: {
			refresh: true,
			pageSizes: true,
			buttonCount: 5
		},
		columns: [
			{
				template: "<div style='text-align: center;'><a class='form-btn grid-buttons k-button' href='/users/edit/?id=#: _id#'>Edit</a>&nbsp;" +
				"<a class='form-btn grid-buttons k-button' href='/api/users/delete_user/?id=#: _id#'>Delete</a></span>",
				field: "_id",
				title: " ",
				width: 188
			},
			{
				template: "<div style='text-align: center;'><a class='form-btn grid-buttons k-button' href='/userpostings/viewbyuser/?id=#: _id#'>View Posts</a>",
				field: "_id",
				title: " ",
				width: 128
			},
			{
				template: "<div style='text-align: center;'><a class='form-btn grid-buttons k-button' href='/feedbacks/userfeedbacks/?id=#: _id#'>View Feedbacks</a>",
				field: "_id",
				title: " ",
				width: 168
			},
			{
				headerTemplate: "<div style='text-align: center;'>Photo</div>",
				template: "<div style='text-align: center;'><img style='width: 90px; height: auto;' src='{{baseUri}}#: profilePic#' /></span>",
				field: "profilePic",
				title: "Photo",
				width: 100
			},
			{
				headerTemplate: "<div style='text-align: center;'>Username</div>",
				template: "<div style='text-align: center;'>#: username#</span>",
				field: "username",
				title: "Username",
				width: 150
			},
			{
				headerTemplate: "<div style='text-align: center;'>Password</div>",
				template: "<div style='text-align: center;'><a class='form-btn grid-buttons k-button k-primary' style='padding: 4px 20px;' href='/api/users/reset_password/?id=#: _id#&mode=cms'>Reset</a></span>",
				field: "_id",
				title: "Password",
				width: 110
			},
			{
				field: "email",
				title: "Email"
			}, {
				field: "firstName",
				title: "Firstname",
				width: 120
			}, {
				field: "lastName",
				title: "Lastname",
				width: 120
			}, {
				headerTemplate: "<div style='text-align: center;'>Mobile No</div>",
				template: "<div style='text-align: center;'>#: mobileNo#</span>",
				field: "mobileNo",
				title: "Mobile No.",
				width: 150
			}, {
				headerTemplate: "<div style='text-align: center;'>User Type</div>",
				template: "<div style='text-align: center;'><strong>#: _userType.typeName#</strong></span>",
				field: "_userType.typeName",
				title: "User Type",
				width: 150
			}
		]
	});
</script>