h1 {
	font-weight: 200;
}
.navbar {
    border-radius: 0;
}

.navbar-brand {
	font-weight: 500;
	letter-spacing: 1px;
}

.main-container {
    width: 92%;
    min-width: 1200px;
    margin: 0 auto;
	text-align: center;
}

.login-form {
	width: 350px;
	padding: 15px;
	margin: 0 auto;
	text-align: left;
}

.register-form {
	width: 550px;
	padding: 15px;
	margin: 0 auto;
	text-align: left;
}

.label-short {
	min-width: 150px;
	margin-right: 4px;
	font-weight: bold;
}

.label-150px {
	min-width: 150px;
}

.label-200px {
	min-width: 200px;
}

.label-full {
	width: 100%;
}

.form-btn {
	padding: 4px 15px;
}

.buttons-panel {
	width: 100%;
	margin: 15px auto;
	text-align: left;
	border: 1px solid #aaa;
	padding: 10px;
	border-radius: 4px;
	background-color: #f1f1f1;

	background: -webkit-linear-gradient(270deg, #fcfcfc, #f1f1f1); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(270deg, #fcfcfc, #f1f1f1); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(270deg, #fcfcfc, #f1f1f1); /* For Firefox 3.6 to 15 */
	background: linear-gradient(270deg, #fcfcfc, #f1f1f1); /* Standard syntax */
}

.error-box {
	width: 100%;
	margin: 15px auto;
	padding: 15px;
	background-color: #fc6363;
	color: #fff;
	border-radius: 5px;
}

.info-box {
	width: 100%;
	margin: 15px auto;
	padding: 15px;
	background-color: #80ff6f;
	color: #666;
	border-radius: 5px;
}

.grid-listing-view {
	width: 100%;
	margin: 0px auto;
	text-align: left;
}

.properties-form {
	width: 700px;
	padding: 15px;
	margin: 0 auto;
	text-align: left;
}

.venue-name-text {
	font-weight: bold;
	letter-spacing: 0.5px;
}

.k-event, .k-event-inverse {
	border-radius: 5px;
}
