<form action="/api/eventcategories/update_event_category/?id={{eventCategory._id}}&mode=cms" method="post" role="form" class="properties-form">
	{{#if show_error}}
		<div class="form-group error-box">
			An error occured while trying to create the record.<br />Please contact the administrator for more information.
		</div>
	{{/if}}

	{{#if show_info}}
		<div class="form-group info-box">
			The event category record: {{eventCategory.categoryName}} has been updated.
		</div>
	{{/if}}

	<div style="width: 100%; text-align: left; margin: 15px 0px;">
		<a href="/eventcategories/list" class="btn">&larr;&nbsp;Back to list view</a>
	</div>

	<div class="form-group">
		<label for="categoryName" class="label-full">Category name:</label>
		<input class="k-textbox" type="text" name="categoryName" id="categoryName" value="{{eventCategory.categoryName}}" autofocus required aria-required style="display: inline-block; width: 100%;" />
	</div>

	<div class="form-group">
		<label class="label-full" for="colorCode">Color Code:</label>
		<input name="colorCode" id="colorCode" value="{{eventCategory.colorCode}}" required style="display: inline-block; width: 100%;"/>
	</div>

	<div style="margin-top: 25px;">
		<button id="submit-button" type="submit" class="k-primary form-btn">Submit</button>&nbsp;
		<a class="btn" href="/eventcategories/list">Cancel</a>
	</div>
</form>

<script language="JavaScript">

	$('#colorCode').kendoColorPicker({
		buttons: true,
		preview: true

	});

	$('#submit-button').kendoButton();
</script>