<form action="/api/eventtypes/create_event_type/?mode=cms" method="post" role="form" class="properties-form">
	{{#if show_error}}
		<div class="form-group error-box">
			An error occured while trying to create the record.<br />Please contact the administrator for more information.
		</div>
	{{/if}}

	{{#if show_info}}
		<div class="form-group info-box">
			The event type record: {{type_name}} has been added.
		</div>
	{{/if}}

	<div style="width: 100%; text-align: left; margin: 15px 0px;">
		<a href="/eventtypes/list" class="btn">&larr;&nbsp;Back to list view</a>
	</div>

	<div class="form-group">
		<label for="typeName" class="label-full">Type name:</label>
		<input class="k-textbox" type="text" name="typeName" id="typeName" autofocus required aria-required style="display: inline-block; width: 100%;" />
	</div>

	<div style="margin-top: 25px;">
		<button id="submit-button" type="submit" class="k-primary form-btn">Submit</button>&nbsp;
		<a class="btn" href="/eventtypes/list">Cancel</a>
	</div>
</form>

<script language="JavaScript">
	$('#submit-button').kendoButton();
</script>